<h1>Evidence</h1>

User: <%= link_to @evidence.user.name, user_path(@evidence.user) %><br>
Requirement: <%= link_to @evidence.requirement.title, requirement_path(@evidence.requirement) %><br>
Description: <%= @evidence.description %><br>
Approved: <%= @evidence.approved %><br>

<% if @evidence.approved? %>
Assessed by: <%= link_to @evidence.approver.name, user_path(@evidence.approver) %><br>
<% end %>
<% if @evidence.try(:valid_until) %>
  Valid Until: <%= @evidence.valid_until.to_date %>
<% end %>

<% if @evidence.approved? %>
  <%= button_to "Disapprove", requirement_disapprove_evidence_path(@evidence.requirement, @evidence) %>
<% else %>
  <%= button_to "Approve", requirement_approve_evidence_path(@evidence.requirement, @evidence) %>
<% end %>
<table>
  <tr>
    <th>
      Modified by
    </th>
    <th>
      Modified on
    </th>

    <th>
      Approved
    </th>
    <th>
      Description
    </th>
  </tr>
<% @evidence.evidence_histories.each do |evidence_history| %>
  <tr>
    <td>
      <%= evidence_history.modifier.name %>
    </td>
    <td>
      <%= evidence_history.created_at.to_date %>
    </td>
    <td>
      <%= evidence_history.approved %>
    </td>
    <td>
      <%= evidence_history.description %>
    </td>
  </tr>
<% end %>
</table>
