<h1>Evidence</h1>

<strong>User:</strong> <%= link_to @evidence.user.name, user_path(@evidence.user) %><br>
<strong>Requirement:</strong> <%= link_to @evidence.requirement.title, requirement_path(@evidence.requirement) %><br>
<strong>Description:</strong> <%= @evidence.description %><br>
<strong>Approved:</strong> <%= @evidence.approved %><br>
<p>
  <% if @evidence.approved? %>
    <strong>Assessed by:</strong> <%= link_to @evidence.approver.name, user_path(@evidence.approver) %><br>
  <% end %>
  <% if @evidence.try(:valid_until) %>
    <strong>Valid Until:</strong> <%= @evidence.valid_until.to_date %><br>
  <% end %>
</p>

<p>
  <% if @evidence.approved? %>
    <%= button_to "Disapprove", requirement_disapprove_evidence_path(@evidence.requirement, @evidence) %>
  <% else %>
    <%= button_to "Approve", requirement_approve_evidence_path(@evidence.requirement, @evidence) %>
  <% end %>
</p>

<%= render "audit_trail" %>
