<header class="Header">
  <div class="Header-title">
    <%= link_to title, "/" %>
  </div>
  <div class="Header-navigation">
    <nav class="Navigation">
      <% if signed_in? %>
        <%= nav_link_to current_user.name, user_path(current_user) %>
      <% end %>
      <%= nav_link_to "Users", "/users" %>
      <%= nav_link_to "Requirements", "/requirements" %>
      <% if signed_in? %>
        <%= link_to "Sign out", sign_out_path, method: :delete %>
      <% end %>
    </nav>
  </div>
</header>
