<header class="Header">
  <div class="Header-title"><%= title %></div>
  <div class="Header-navigation">
    <nav class="Navigation">
      <%= nav_link_to "Home", "/" %>
      <%= nav_link_to "Users", "/users" %>
      <%= nav_link_to "Requirements", "/requirements" %>
      <% if signed_in? %>
        <%= link_to "Sign out", sign_out_path, method: :delete %>
      <% end %>
    </nav>
  </div>
</header>
